@using Domain.GrupoInvestigacion.Entities

<h1>Grupo de Investigacion: @Grupo.Nombre.Value</h1>
<h2>Investigadores</h2>
<table class="table text-center">
    <thead>
        <tr>
            <th>Nombre de Investigador</th>
            <th>Numero de Publicacion</th>
            <th>Eliminar Investigador</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var investigador in Grupo.Investigadores)
        {
        
            @if (investigador.AutorPublicacion is null || investigador.AutorPublicacion.Count() == 0)
            {
                <tr>
                    <td>@investigador.Nombre</td>
                    <td>No tiene proyectos</td>
                    <td>
                        <button class="btn btn-danger" @onclick="_ => HandleBorrarInvestigador(investigador)">
                            <span class="fas fa-trash"></span>
                        </button>
                    </td>
                </tr>
             }
             else
             {
                @foreach (var publicacion in investigador.AutorPublicacion)
                    {
                    <tr>
                    <td>@investigador.Nombre</td>
                    <td>@publicacion.Publicacion.Nombre</td>
                    <td>
                        <button class="btn btn-danger" @onclick="_ => HandleBorrarInvestigador(investigador)">
                            <span class="fas fa-trash"></span>
                        </button>
                    </td>
                    </tr>
                }
            }


        
        }
    </tbody>
</table>

@code {
    [Parameter]
    public Grupo Grupo { get; set; }

    [Parameter]
    public EventCallback<Investigador> OnDelete { get; set; }

    protected override void OnInitialized()
    {
        if (Grupo is null)
            throw new ArgumentNullException(nameof(Grupo));
    }

    private async Task HandleBorrarInvestigador(Investigador investigador)
    {
        await OnDelete.InvokeAsync(investigador);
    }
}
