@using Domain.GrupoInvestigacion.Entities
@using Examen1.Presentation.GrupoInvestigacion.Models.GrupoInvestigacion

@using LanguageExt

<EditForm OnValidSubmit="HandleSubmit" Model="@Model">
    <FluentValidationValidator/>
    <h3>Agregue un Investigador</h3>
    <ValidationSummary/>
    <div class="form-group">
        <label>Nombre del Investigador</label>
        <InputText @bind-Value="Model.Nombre" class="form-control"/>
    </div>
    <button class="btn btn-primary" type="submit">Add</button>
</EditForm>

@code {

    [Parameter]
    public EventCallback<Investigador> OnValidSubmit { get; set; }

    [Parameter]
    public Grupo Grupo { get; set; } = null!;

    private InvestigadorModel Model { get; set; } = new();

    private async Task HandleSubmit()
    {
        // we don't check for validation errors since the model has already been validated
        // by the EditForm component.
        List<AutorPublicacion> publicacions = null; //Lo inicializa en null
        var investigador = new Investigador(
            RequiredString.TryCreate(Model.Nombre).Success(),
            Grupo.Id
           );

        await OnValidSubmit.InvokeAsync(investigador);
        // reset the form
        Model = new InvestigadorModel();
    }

}
