﻿<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">UESE</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="fas fa-home pr-3" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="GruposInvestigacion" Match="NavLinkMatch.Prefix">
                <span class="fas fa-hockey-puck pr-3" aria-hidden="true"></span> Grupos de Investigación
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="teams" Match="NavLinkMatch.Prefix">
                <span class="fas fa-hockey-puck pr-3" aria-hidden="true"></span> Investigadores Asociados
            </NavLink>
        </li>
    </ul>
</div>

@code { private bool _collapseNavMenu = true;

            private string? NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

            private void ToggleNavMenu()
            {
                _collapseNavMenu = !_collapseNavMenu;
            } 
    }