@page "/GruposInvestigacion/{GrupoId:long}"

@using Examen1.Application.GrupoInvestigacion
@using Examen1.Domain.GrupoInvestigacion.Entities
@using Examen1.Presentation.GrupoInvestigacion.Components
@using Examen1.Presentation.Core.Components

@inject IGrupoService GrupoService;

<div class="container">
    <Loading IsLoading="_isLoading">
        @if (_grupo == null || _grupo.Investigadores.Count() == 0)
        {
            <h4 class="text-danger">El equipo que se ha buscado no se encuentra actualmente registrado</h4>
        }
        else
        {
            @if (_rosterErrorMessage is not null)
            {
                <Alert Color="Alert.AlertColor.Danger">
                    @_rosterErrorMessage
                </Alert>
            }
            <GrupoInvestigacion Grupo="_grupo" OnDelete="HandleBorrarInvestigador"/>
        }
        @if (_playerFormMessage is not null)
        {
            <Alert Color="_playerFormAlertColor">
                @_playerFormMessage
            </Alert>
        }
        <InvestigadorForm OnValidSubmit="@HandleAsignarInvestigador" Grupo="_grupo"/>
    </Loading>
</div>

@code {

    [Parameter]
    public long GrupoId { get; set; }
    private Grupo? _grupo;
    private bool _isLoading = true;
    private string? _playerFormMessage = null;
    private Alert.AlertColor _playerFormAlertColor = Alert.AlertColor.Danger;
    private string? _rosterErrorMessage = null;

    protected override async Task OnInitializedAsync()
    {
        await LoadTeam();
        _isLoading = false;
    }

    public async Task LoadTeam()
    {
        _grupo = await GrupoService.ObtenerGrupoPorId(GrupoId);
    }

    private async Task HandleAsignarInvestigador(Investigador investigador)
    {
        _playerFormMessage = null;

        try
        {
            await GrupoService.AsignarInvestigadroAGrupo(_grupo!, investigador);
            _playerFormMessage = "Investigador agregado.";
            _playerFormAlertColor = Alert.AlertColor.Success;
            await LoadTeam();
            StateHasChanged();
        }
        catch (DomainException e)
        {
            _playerFormMessage = e.Message;
        }
        catch (Exception)
        {
            _playerFormMessage = "An error ocurred. Please try again later.";
            _playerFormAlertColor = Alert.AlertColor.Danger;
        }
    }

    private async Task HandleBorrarInvestigador(Investigador investigador)
    {
        _rosterErrorMessage = null;

        try
        {
            await GrupoService.EliminarInvestigadorAGrupo(_grupo!, investigador);
            StateHasChanged();
        }
        catch (DomainException e)
        {
            _rosterErrorMessage = e.Message;
        }
        catch (Exception)
        {
            _rosterErrorMessage = "Esta funcionalidad no ha podido ser implementada :(";
        }


    }

}
